.calculator {
  width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  /* display: grid;
  grid-template-columns: 1fr;
  gap: 10px; */
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  flex: 1;
  padding: 20px;
  font-size: 18px;
  background-color: #D8D9DA;
  color: black;
  border: 1px solid rgba(231, 222, 222, 0.793);
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.operator {
  background-color: #E26A2C;
}

.equals {
  background-color: #2ecc71;
}

.button-0 {
  flex-basis: 34%;
}

.display {
  background-color: #61677A;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  color: white;
  border: none;
}
